<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feduwacomm.mapper.VmRoundModelsMapper">

    <insert id="upsertRoundModel">
        INSERT INTO vm_round_models (id, task_id, vm_id, round_number, accuracy, loss, parameters)
        VALUES (#{id}, #{taskId}, #{vmId}, #{roundNumber}, #{accuracy}, #{loss}, CAST(#{parameters} AS JSON))
        ON DUPLICATE KEY UPDATE
            accuracy = VALUES(accuracy),
            loss = VALUES(loss),
            parameters = VALUES(parameters)
    </insert>

</mapper> 